<div class="w3-container">
  
    <div class="w3-panel w3-card w3-round w3-light-grey w3-cell-row w3-padding">
        <table class="w3-table">
            <tr>
                <td class="w3-center">
                    <span class="w3-tag w3-round w3-orange w3-center">YY</span>
                </td>
                <td class="w3-left">
                    <table class="w3-table w3-small">
                        <tr><td><span class="jour">16</span></td><td><span class="jour">TITRE</span></td></tr>
                        <tr><td><span class="mois">JAN</span></td><td></td></tr>
                        <tr><td><span class="annee">2020</span></td><td><span>Signature</span> <span>Tags</span></td></tr>
                    </table>
                </td>
                <td class="w3-right">
                    ACTION
                </td>
            </tr>
        </table>
    </div>

    <div class="w3-panel w3-card w3-round w3-light-grey"><p>w3-card-2</p></div>
  
    <div class="w3-panel w3-card w3-round w3-light-grey"><p>w3-card-4</p></div>
</div>
