<div class="w3-container">
  
    <div class="w3-panel w3-card w3-round w3-cell-row w3-padding w3-light-grey">
        <div class="w3-cell w3-padding w3-left w3-tag w3-round w3-orange icone">
            YY
        </div>

        <div class="w3-cell w3-padding w3-left">
            16 JAN 2020
        </div>
        
        <div class="w3-cell w3-padding w3-left">
            <h1>TITRE</h1>
            <p>Content</p>
            <p>Signature #Tag #Tag</p>
        </div>

        <div class="w3-cell w3-padding w3-left">
            Misc
        </div>
    </div>

</div>
