<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <h1>Welcome to John's Projecs App</h1>

  <p class="pink">
    <%= link_to "Login", new_session_path, :class => "grey"  %>
  </p>

</div>