<% content_for :title, "Projects" %>

<h1><i class="fa fa-envelope"></i> Projects</h1>

<table id="projects" class="w3-table-all">
  <thead>
    <tr class="w3-light-grey">
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Tasks</th>
      <th>Actions</th>
    </tr>
  <thead>
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</table>

<%= link_to "New project", new_project_path %>
