body {
    background-color: lightgrey;
    color: grey;
}

header {
    background-color: lightgrey;
}

.annee {
    font-size: small;
}
.mois {
    font-size: medium;
}
.jour {
    font-size: x-large;
}