html {
    background-color: rgb(49, 49, 49);
    color: aquamarine;
}

#dashboard {
    background-color: rgb(61, 61, 61);
    color: palevioletred;
}

.pink {
    color: palevioletred;
}

.boldy {
    color: cadetblue;
}